<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.GoCookApp"
    >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Steakactivity"></activity>
        <activity android:name="com.example.GoCookApp.activity.Scrambledeggs"></activity>
        <activity android:name="com.example.GoCookApp.activity.RoastChic"></activity>
        <activity android:name="com.example.GoCookApp.activity.menulist.BreakfastMenuActivity"></activity>
        <activity android:name="com.example.GoCookApp.activity.menulist.LunchMenuActivity"></activity>
        <activity android:name="com.example.GoCookApp.activity.menulist.DinnerMenuActivity"></activity>
        <activity android:name="com.example.GoCookApp.activity.menulist.ViewallActivity"></activity>
        <activity android:name="com.example.GoCookApp.activity.menulist.SnackMenuActivity"></activity>
        <activity android:name=".activity.NachoActivity"/>
        <activity android:name="com.example.GoCookApp.fragment.CategoriesFragment" />
        <activity android:name="com.example.GoCookApp.activity.Profile" />
        <activity android:name="com.example.GoCookApp.activity.RegisterActivity" />
        <activity android:name="com.example.GoCookApp.activity.AddRecipeActivity" />
        <activity android:name="com.example.GoCookApp.activity.AddRecipeIngreActivity" />
        <activity android:name="com.example.GoCookApp.activity.AddRecipeStepActivity" />

        <activity android:name=".activity.ProfileFinalActivity"/>
        <activity android:name=".activity.MasterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>